@purple: #8A25E8;
@border: 2px solid white;
@shadow: 1px 0px 20px white;
@xs: ~'(max-width: 500px)';

.main{
	min-height: 800px;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: column;	
}
.hidden{
	display:none;
}
a:hover{
	text-decoration: none;
}
.button{
	border: 0px;
	color: white;
	font-size: 3rem;
	width: 100%;
	height: 100%;
	&:hover{
		color: silver;
	}
}

header{
	background-color: @purple;
	padding: 1rem 0;
	section{
		display: flex;
		margin: auto;
		margin: auto;
  		max-width: 1000px;
		div{
			width: 50%;
		}
	}
	h3{
		font-family: "Montserrat"
	}
}
section{
	margin: 5rem auto;
    width: 90%;
    max-width: 1000px;
    flex: 1;
    text-align: center;
}
.menu{
	height: 20rem;
	border: @border;
	text-align: center;
	margin-bottom: 5rem;
	padding: 0px;
	&:hover, &:active{
		box-shadow: @shadow;
	}
	h2, h3{
		padding: 5rem 1rem;
		&:hover{
			cursor:pointer;
		}
	}
}

form{
	border: @border;
	max-width: 800px;
	margin: 4rem auto 1rem auto;
	padding: 5rem 0px 10px;
	text-align: center;
	@media @xs{
		margin: 2rem auto 1rem auto;
		padding: 3rem 0px 10px;
	}
	a{
		color: lightgrey;
		text-decoration: underline;
	}
	.flex{
		display: flex;
  		align-items: center;
  		justify-content: center;
  		.input{
			width: 60%;
			text-align: right;
			padding: 5px;
			font-size: 2rem;
			margin: 1rem 0px;
			height: 5rem;
		}
	}
	.popoverButton{
		width: 10%;
		text-align: center;
		border: 0px;
		color: white;
		font-size: 3rem;
	}
	#submitButton{
		border: @border;
		border-radius: 10px;
		width: 40%;
		margin-bottom: 20px;
	}
	h2,h3, span{
		text-align: center;
		margin: 1px 5px;
	}
	h3{
		margin-bottom: 20px;
	}
	.selector{
		text-align: center;
		.options{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			align-items: baseline;
			span{
				font-size: 3rem;
			}
			.option{
				border: 2px solid lightgrey;
				width: 90%;
				height: 100px;
				padding: 2rem;
				margin: 2rem;
				text-align: center;
				color: lightgrey;
				&:hover, &:active{
					box-shadow: @shadow;
				}
			}
			.selected{
				box-shadow: @shadow;
				border: @border;
				width: 90%;
				height: 100px;
				padding: 2rem;
				margin: 2rem;
				text-align: center;
				&:hover, &:active{
					box-shadow: none;
				}
			}
		}
		.dropdown{
			width: 20%;
		}
	}
}
.popover{
		color: black;
		font-size: 2rem;
}
.final{
	background-image: url('https://media.giphy.com/media/Qh5dZDCFqr1dK/giphy.gif');
	background-size: cover;
	height: 30rem;
	padding: 4rem;
}


footer{
	background-color: @purple;
	text-align: center;
	line-height: 0.5rem;
	padding: 1rem;
	// align-self: flex-end;
	// width: 100%;
}