.main {
  min-height: 800px;
  display: flex;
  flex-direction: column;
}
.hidden {
  display: none;
}
header {
  background-color: #8A25E8;
  padding: 1rem 0;
}
header h3 {
  font-family: "Montserrat";
}
section {
  margin-top: 5rem;
  flex: 1;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.menu {
  height: 20rem;
  border: 2px solid white;
  text-align: center;
  margin-bottom: 5rem;
}
.menu:hover,
.menu:active {
  box-shadow: 1px 0px 20px white;
}
.menu h2,
.menu h3 {
  padding: 5rem 6rem;
}
.questionView {
  text-align: center;
  border: 2px solid white;
  padding: 5rem 0px 0px;
}
.questionView .input {
  width: 60%;
  margin-left: 20%;
  text-align: center;
  padding: 5px;
}
.questionView .flex {
  display: flex;
  align-items: flex-end;
}
.questionView .glyphicon {
  font-size: 2rem;
}
.questionView .options {
  display: flex;
  justify-content: space-around;
}
.questionView .options .option {
  border: 2px solid white;
  width: 200px;
  height: 150px;
  padding: 2rem;
  margin: 2rem;
}
footer {
  background-color: #8A25E8;
  text-align: center;
  line-height: 0.5rem;
  padding: 1rem;
}
