.main {
  min-height: 800px;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.hidden {
  display: none;
}
.button {
  border: 0px;
}
header {
  background-color: #8A25E8;
  padding: 1rem 0;
}
header h3 {
  font-family: "Montserrat";
}
section {
  margin-top: 5rem;
  flex: 1;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.menu {
  height: 20rem;
  border: 2px solid white;
  text-align: center;
  margin-bottom: 5rem;
}
.menu:hover,
.menu:active {
  box-shadow: 1px 0px 20px white;
}
.menu h2,
.menu h3 {
  padding: 5rem 6rem;
}
.glyphicon {
  font-size: 2rem;
}
.questionView {
  border: 2px solid white;
  padding: 5rem 0px 10px;
}
.questionView .input {
  width: 60%;
  text-align: center;
  padding: 5px;
}
.questionView .flex {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.questionView h4 {
  text-align: center;
  margin: 0px 10px;
}
.questionView .selector {
  text-align: center;
}
.questionView .selector .options {
  display: flex;
  justify-content: space-around;
}
.questionView .selector .options .option {
  border: 2px solid white;
  width: 200px;
  height: 150px;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
}
.questionView .selector .options .option:hover,
.questionView .selector .options .option:active {
  box-shadow: 1px 0px 20px white;
}
.questionView .selector .options .selected {
  box-shadow: 1px 0px 20px white;
  border: 2px solid white;
  width: 200px;
  height: 150px;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
}
.questionView .selector .options .selected:hover,
.questionView .selector .options .selected:active {
  box-shadow: none;
}
.popover {
  color: black;
}
footer {
  background-color: #8A25E8;
  text-align: center;
  line-height: 0.5rem;
  padding: 1rem;
}
